<div class="logos">
  <app-hamster></app-hamster>
  <app-basket></app-basket>
  <app-plus (click)="addItem()"></app-plus>
</div>
<div class="form-plus">
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput type="text" [(ngModel)]="input" (keyup.enter)="addItem()">
  </mat-form-field>
</div>
<mat-selection-list role="list" #list>
  <div class="option-x" *ngFor="let item of items">
    <mat-list-option [ngClass]="{crossed: item.state==='crossedOut'}" role="listitem" (click)="crossOut(item)" [selected]="item.state==='crossedOut'" [value]="item._id"
      [disabled]="item.state==='crossedOut'">
      {{item.name}}
    </mat-list-option>
    <div class="x" (click)="delete(item)">✕</div>
  </div>
</mat-selection-list>